<div class="body">
  <div class="container">
    <div class="row">
     <div class="main col-md-8">
       <!-- upload -->
   <form  action="" class="form-cont">
     <div class="contenedor">
       <div class="imagen">
         <img src="assets/img/edit/bg.jpg" alt="">
       </div>
     
       <!-- subir archivo -->
       <div class="row">
         <div class="col-md-8 offset-md-2">
         <div class="input-group mt-4">
           <div class="custom-file file">
             <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
             <label class="custom-file-label" for="inputGroupFile04">buscar imagen</label>
           </div>
           <div class="input-group-append">
             <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">subir</button>
           </div>
         </div>
         </div>
     </div>
       <!-- fin subir archivo -->
       <!-- titulo -->
     
       <div class="controlF">
           <h3 class="titulo">Inserte titulo del post</h3>
         <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="titulo del post">
       </div>
       <!-- fin titulo -->
       <!-- texto a insertar -->
     
       <div class="controlF">
         <h3 class="titulo">
           Inserte texto el blog
         </h3>
         <textarea class="text">
     
         </textarea>
       </div>
         <!-- fin de texo a insertar -->
       <!-- autor del texto -->
       <div class="controlF">
         <h3 class="titulo iz">keywords</h3>
         <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="separe con comas sus keywords">
     </div>
     <!-- fin de autor de texto -->
       <div class="row">
           <div class="col-md-12 btn-lg offset-md-5 mt-4">
             <button class="btn btn-success" type="submit">
               <i class="fas fa-upload"></i>
               Publicar
             </button>
           </div>
       </div>
       </div>
     </form>
     </div>
     <div class="sidebar col-md-4 pt-4">
       <ul class="nav flex-column">
         <li class="item">               
           <a class="nav-link" href="#">ver tus posts</a>
         </li>
         <li class="item">
           <a class="nav-link" href="#">ver post</a>
         </li>
         <li class="item">
           <a class="nav-link" href="#">subir html</a>
         </li>           
       </ul>
       <div class="widgets">
           <div class="ultimosPost pt-4">
             <h3 class="titulo">tus ultimos posts</h3>
             <table class="table">
               <thead class="thead">
                 <tr>
                   <th scope="col">Nombre</th>
                   <th scope="col">fecha</th>
                   <th scope="col">etiquetas</th>
                 </tr>
               </thead>
               <tbody>
                 <tr class="fila">
                   <td >Last time</td>
                   <td>20-06-5</td>
                   <td>Tecnologia</td>
                 </tr>
               </tbody>
             </table>
           </div>
       </div>   
    </div>                   
  </div>
</div>