<article class="post">
    <div class="contenedor">
        <h2 class="titulo">
            {{postSingle.title}}
         </h2>
        <div class="thumb">
            <img class="img-thumbnail" [src]="postSingle.images[0]" width="700" alt="">
       </div> 
        <div class="texto">
            <p class="parrafo">
               {{postSingle.body}}
            </p>
            
            <!-- <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            
            <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            
            <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p> -->
            
          
        </div>
        <p class="fecha">
            {{postSingle.date}}
        </p>
   
    </div>
  </article>    