<div class="errores" *ngIf="data?.errors">
    <span *ngIf="data.errors.required && data.touched ">
      <p *ngIf="!activeMessage">El {{nombre}} es requerido</p>
      <p *ngIf="activeMessage">{{nombre}}</p>
    </span>
    <span *ngIf="data.errors.pattern && data.touched ">{{nombre}} invalido</span>
    <span *ngIf="data.errors.minlength && data.touched ">Se requires al menos {{data.errors.minlength.requiredLength}} caracteres</span>
    <span *ngIf="data.errors.existe && data.touched ">{{data.value}} ya existe</span>
    <span *ngIf="data.errors.conIguales && data.touched ">Las contraseñas no coinciden</span>
</div>
